:root {
    --yellow: #eded00;
    --light-green: #559955;
    --dark-green: #154515;
    --light-grey: #f2f2f2;
    --dark-gray: #262626;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Segoe UI",Arial,sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

header {
    background-color: var(--dark-green);
}

footer {
    background-color: var(--dark-green);
    color: white;
    padding: 20px 0;
}

a {
    color: var(--dark-gray);
    text-decoration: none;
}

a.inline {
    padding-bottom: 1px;
    border-bottom: 1px dotted var(--dark-gray);
}

ul {
    list-style: none;
}

ul.bullet {
    list-style: disc;
    margin-left: 2em;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.m-bottom_small {
    padding-bottom: 8px;
}

button {
    border: 0;
    font-size: 1em;
}

.btn {
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-yellow {
    background-color: var(--yellow);
}

.btn-green {
    background-color: var(--light-green);
    color: white;
}

.btn:hover {
    opacity: 80%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    display: block;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 0;
}

.grid-col-1-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin: 30px 0;
}

.card {
    box-shadow: 2px 2px 5px darkgray;
}

.card-img {
    width: 100%;
    height: 150px;
}

.card-text {
    display: block;
    padding: 15px 0;
    text-align: justify;
    width: 90%;
}

.card-caption {
    font-size: .75em;
}

.card-btn {
    width: 90%;
    text-align: center;
    margin: auto 15px 0 15px;
}

.card h2 {
    display: block;
    width: 100%;
    height: 60px;
    background-color: var(--light-green);
    text-align: center;
    padding: 15px;
    color: white
}

.sub-header-1 {
    display: block;
    width: 100%;
    margin: 10px 0;
    border-bottom: 2px solid var(--dark-green);
    clear: both;
}

.sub-header-2 {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    clear: both;
}

/* Tables */
table {
    border-collapse: collapse;
}

th,td {
    padding: 15px;
}

tr {
    border-bottom: 1px solid var(--light-grey);
}

th.left {
    text-align: left;
}

th.table-section-header {
    color: white;
    background-color: var(--light-green);
    font-size: 1.25em;
    font-weight: lighter;
}

/* Wordmark */
.wordmark {
    flex: 1;
    padding-left: 10px;
}

.wordmark-logo {
    display: block;
    height: 50px;
}

.wordmark p {
    font-weight: lighter;
    font-size: .6em;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    color: white;
}

nav .menu-item {
    display: block;
    color: white;
    font-size: 16px;
    padding: 18px 10px;
    height: 60px;
}

nav .menu-item:hover {
    opacity: .5;
}

nav ul.main-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav li i {
    font-size: 1.5em;
}

.social-menu:last-child a {
    padding-right: 0;
}

.menu-btn {
    position: absolute;
    top: 18px;
    right: 5%;
    color: white;
    z-index: 2;
    display: none;
}

/* Main Content */
.main-content {
    flex-grow: 1;
}

.main-content .container {
    padding: 30px 0;
}

/* Call to Action */
.call-to-action-donate .container {
    border-top: 1px solid lightgrey;
    padding: 30px 0;
}

.call-to-action-donate p {
    max-width: 800px;
}

/* Header */
header a {
    color: white;
}

/* Footer */

footer ul {
    text-align: right;
    font-size: 12px;
}

footer ul a {
    color: white;
}

footer ul a:hover {
    opacity: 50%;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    padding: 40px;
    align-items: center;
}

.showcase-sm {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    padding: 40px;
    align-items: center;
}

.showcase-logo {
    width: 200px;
}

@media (max-width: 800px) {
    .grid-col-3, .grid-col-1-2 {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

    .card-img {
        height: 200px;
    }

    .mobile-center {
        text-align: center;
    }

    .mobile {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mobile-hide {
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
        background-color: var(--dark-green);
    }

    .main-content {
        margin-top: 60px;
    }

    nav ul.main-menu {
        display: block;
        position: fixed;
        margin: 0;
        padding: 0;
        top: 60px;
        right: 0;
        background: var(--light-grey);
        width: 50%;
        height: calc(100% - 60px);
        opacity: 95%;
        border-left: 1px solid darkgrey;
        transform: translate(+100%);
        transition: transform .5s ease-in-out;
        overflow: auto;
    }

    nav .menu-item {
        font-size: 20px;
    }

    nav ul.main-menu.show {
        transform: translate(0%);
    }

    nav ul.main-menu li {
        text-align: center;
        border-bottom: 1px solid darkgrey;
        padding: 0;
    }

    nav ul.main-menu .menu-item {
        display: block;
        color: #262626;
        padding: 14px 0 10px 0;
    }

    nav ul.main-menu .menu-item:hover {
        opacity: 100%;
        color: black;
        background: darkgrey;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .social-menu {
        margin-right: 50px;
    }
}