<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
  <configuration>
    <location path="donate.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/donate.html" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="schedule.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/recruiting.html?#SCHEDULE" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="training.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="recruiting.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="members">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://accounts.google.com/AccountChooser?continue=https://sites.google.com/kcesar.org/members" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="logos">
        <system.webServer>
            <httpRedirect enabled="true" destination="/logos.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="mapwork">
        <system.webServer>
            <httpRedirect enabled="true" destination="/mapwork.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="donate">
        <system.webServer>
            <httpRedirect enabled="true" destination="/donate.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="join">
        <system.webServer>
            <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="recruiting">
        <system.webServer>
            <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="feedback">
        <system.webServer>
            <httpRedirect enabled="true" destination="/feedback.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="nominate">
        <system.webServer>
            <httpRedirect enabled="true" destination="/nominate.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="elections">
        <system.webServer>
            <httpRedirect enabled="true" destination="/nominate.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="sartopo">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://sartopo.com/app/openidrequest?domain=kcsara.org" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="database">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://kcsara.d4h.org/" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="apply">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://forms.gle/S7w6fCFDk7mgdrG16" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="vax">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://forms.gle/dvgdc6Ym2jYsS7nq9" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="rig">
        <system.webServer>
            <httpRedirect enabled="true" destination="/rig.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="cert">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://docs.google.com/forms/d/e/1FAIpQLScOCTI8ZZ9c6USDdITW28ZTI3dOXIwH6gquyqzMxLOesYkb-g/viewform" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="paging-setup">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://docs.google.com/forms/d/e/1FAIpQLSfRjUxFUCaQBQ9Xu4ojowPj9NVdyoQYFJBAL5MSnc4IqWmDhQ/viewform" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
</configuration>