<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
  <configuration>
    <location path="donate.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/donate.html" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="schedule.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/recruiting.html?#SCHEDULE" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="training.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="recruiting.aspx">
      <system.webServer>
        <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="members">
        <system.webServer>
            <httpRedirect enabled="true" destination="/members.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="logos">
        <system.webServer>
            <httpRedirect enabled="true" destination="/logos.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="mapwork">
        <system.webServer>
            <httpRedirect enabled="true" destination="/mapwork.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="donate">
        <system.webServer>
            <httpRedirect enabled="true" destination="/donate.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="join">
        <system.webServer>
            <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="recruiting">
        <system.webServer>
            <httpRedirect enabled="true" destination="/recruiting.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="feedback">
        <system.webServer>
            <httpRedirect enabled="true" destination="/feedback.html" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
    <location path="sartopo">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://sartopo.com/app/openidrequest?domain=kcsara.org" httpResponseStatus="Permanent" exactDestination="true" childOnly="false" />
        </system.webServer>
    </location>
</configuration>