@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-esar-green: #026737;

  --font-neuzeit: neuzeit-grotesk, sans-serif;
  --font-stratum: stratum-2-web, sans-serif;
  --font-brothers: brothers, sans-serif;
  --font-gin: gin, serif;
  --font-komet: komet, sans-serif;
  --font-new-science: new-science, sans-serif;
  --font-usual: usual, sans-serif;
  --font-trade-gothic-next: trade-gothic-next, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  p {
    @apply text-sm lg:text-lg;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    max-height: -webkit-fill-available !important;
  }
}
